.map-responsive {
  overflow: hidden;
  padding-bottom: 0px;
  position: relative;
  height: 450px !important;
  iframe {
    left: 0;
    top: 0;
    height: 450px !important;
    width: 100%;
    position: absolute;
  }
}
