<body>
        <div class="ui grid">
            <div class="computer only row">
                <div class="ui fixed transparent menu borderless main_menu">
                    <a class="brand" href="/">
                        <img src="/images/photos/dark-logo.png" alt="e.KRAAL Innovation Hub">
                    </a>
                    <div class="right menu">
                        <a class="item active" href="/">
                            <span>Home</span>
                        </a>
                        <div class="ui dropdown simple item">
                            Training<i class="dropdown icon"></i>
                            <div class="menu">
                                <a class="item" href="/training">NCSTP</a>
                                <a class="item" href="/ec-council">EC Council</a>
                            </div>
                        </div>
                        <a class="item" href="/program">
                            <span>Programs</span>
                        </a>
                        <a class="item" href="/events">
                            <span>Events</span>
                        </a>
                        <a class="item" href="/news">
                            <span>News</span>
                        </a>
                        <a class="item" href="/partners">
                            <span>Partners</span>
                        </a>
                        <a class="item" href="/about">
                            <span>About</span>
                        </a>
                        <a class="item" href="/contact">
                            <span>Contact</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="mobile tablet only row">
                <div class="ui fixed transparent menu borderless mobile_menu">
                    <a class="brand" href="/">
                        <img src="/images/photos/dark-logo.png" alt="e.KRAAL Innovation Hub">
                    </a>
                    <div class="right menu">
                        <a class="menu item" id="mobile_item">
                            <i class="bars icon"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui vertical sidebar navbar menu">
            <hr>
            <a class="item" href="/">Home</a>
            <div class="ui dropdown item">
                Training<i class="dropdown icon"></i>
                <div class="left menu">
                    <a class="item" href="/training">NCSTP</a>
                    <a class="item" href="/ec-council">EC Council</a>
                </div>
            </div>
            <a class="item" href="/program">
                <span>Programs</span>
            </a>
            <a class="item" href="/events">
                <span>Events</span>
            </a>
            <a class="item" href="/news">
                <span>News</span>
            </a>
            <a class="item" href="/partners">
                <span>Partners</span>
            </a>
            <a class="item" href="/about">
                <span>About</span>
            </a>
            <a class="item" href="/contact">
                <span>Contact</span>
            </a>
        </div>
        <div class="pusher">
            <div class="inner">
                <div class="flash-messages"></div>
            </div>
            <div id="content">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.min.css">
                <div class="ui segment page-segment home-container">
                    <div class="ui container">
                        <div class="ui grid info-grid">
                            <div class="eight wide computer sixteen wide mobile column">
                                <h1 class="ui header ekraal-header">
                                    <span>e.KRAAL </span>
                                    <span class="highlight">INNOVATION HUB</span>
                                </h1>
                                <h2 class="white-text margin-top-30">Securing the future of Cybersecurity in Kenya by accelerating innovation and creativity in the cyberspace ecosystem.</h2>
                            </div>
                        </div>
                        <div id="particles-js"></div>
                    </div>
                </div>
                <div class="ui segment page-segment white-background about-segment">
                    <div class="ui container">
                        <div class="ui grid info-grid stackable">
                            <div class="eight wide computer sixteen wide mobile column">
                                <h1 class="ui header black-text">
                                    <span>KENYA'S FIRST </span>
                                    <span class="highlight">CYBERSECURITY</span>
                                    <span>INNOVATION HUB</span>
                                </h1>
                            </div>
                            <div class="eight wide computer sixteen wide mobile column">
                                <h2 class="ui header">
                                    <span class="highlight-fade">ABOUT e.KRAAL</span>
                                </h2>
                                <p>e.KRAAL was founded in 2018 to find ways to keep innovative, talented and creative Kenyans in the country.</p>
                                <p>It aims to retain, nurture and promote the country's top cybesecurity talent and foster the country's social and economic growth.</p>
                                <p>Our Hub also provides services, guidance and advice on cyber security training and education to industry, academia, and other levels of government.</p>
                                <a class="ui button more-button" href="/about">LEARN MORE ABOUT E-KRAAL</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui segment page-segment home-segments">
                    <div class="ui container">
                        <div class="ui info-grid">
                            <div class="ui grid stackable">
                                <div class="eight wide computer sixteen wide mobile column">
                                    <h1 class="ui header">
                                        <span>OUR </span>
                                        <span class="highlight">PROGRAMS</span>
                                    </h1>
                                </div>
                            </div>
                            <div class="ui equal height stackable three column grid">
                                <div class="column">
                                    <h2 class="ui header">
                                        <span class="highlight-fade">CYBERSECURITY INNOVATION HUB</span>
                                    </h2>
                                    <p>e.KRAAL's innovation program focuses on nurturing cybersecurity ideas and innovative approaches that enhance and strengthen our country's cybersecurity capabilities.</p>
                                    <p>Innovators will be offered mentorship, funding and space to execute their ideas into progressive and groundbreaking cybersecurity products.</p>
                                    <a class="ui button more-button margin" href="/program#innovation">OUR INNOVATION PROGRAM →</a>
                                </div>
                                <div class="column">
                                    <h2 class="ui header">
                                        <span class="highlight-fade">NATIONAL CYBERSECURITY TRAINING</span>
                                    </h2>
                                    <p>The e.KRAAL cybersecurity program focuses on raising the next generation of interested and capable cybersecurity professionals.</p>
                                    <p>This program trains students in various fields in cybersecurity to equip them with necessary skills required to start a career in cybersecurity.</p>
                                    <a class="ui button more-button" href="/training">OUR TRAINING PROGRAM →</a>
                                </div>
                                <div class="column">
                                    <h2 class="ui header">
                                        <span class="highlight-fade">CYBERSECURITY MENTORSHIP PROGRAM</span>
                                    </h2>
                                    <p>The e.KRAAL mentorship program is a one on one career mentoring program that gives aspiring individuals an opportunity to learn  directly from experienced mentors.</p>
                                    <p>The program assists individuals with their career growth in cybersecurity by matching them with cybersecurity experts as mentors.</p>
                                    <a class="ui button more-button" href="/program#mentorship">OUR MENTORSHIP PROGRAM →</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui segment page-segment section-segment white-background">
                    <div class="ui container">
                        <div class="ui equal height very relaxed stackable grid about-values">
                            <div class="eight wide column core-values">
                                <h2 class="highlight">OUR MISSION</h2>
                                <hr class="hidden">
                                <h1>
                                    <i class="icon bullseye"></i>
                                </h1>
                                <p>Our mission is to create a community of innovative, talented and creative people in our country's cyberspace. We do this by providing mentorship, training, financing and networking opportunities.</p>
                            </div>
                            <div class="eight wide column core-values">
                                <h2 class="highlight">OUR VISION</h2>
                                <hr class="hidden">
                                <h1>
                                    <i class="icon eye"></i>
                                </h1>
                                <p>Our vision is to provide powerful and unique opportunities that will help Kenya become a prosperous nation within the cyberspace.</p>
                            </div>
                            <div class="ui vertical divider">
                                <i class="icon shield alternate"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui segment page-segment home-segments alumni-segment">
                    <div class="ui container">
                        <div class="ui info-grid">
                            <h1 class="ui header">
                                <span class="highlight">PORTFOLIO </span>
                            </h1>
                            <div class="ui equal height stackable two column grid">
                                <div class="ui column">
                                    <p class="intro">e.KRAAL Innovation Hub, Mentorship and Training program has a network of alumni who have left the program with vast knowledge in security. Our hub mentors and trains individuals who come out of the program as cybersecurity experts as well as birth products that improve the cybersecurity domain.</p>
                                    <div class="ui statistics margin-top-30">
                                        <div class="statistic">
                                            <div class="value counter" data-count="40">0</div>
                                            <div class="label">Alumni</div>
                                        </div>
                                        <div class="statistic">
                                            <div class="value counter" data-count="5">0</div>
                                            <div class="label">Startups</div>
                                        </div>
                                        <div class="statistic">
                                            <div class="value counter" data-count="30">0</div>
                                            <div class="label">Entrepreneurs</div>
                                        </div>
                                        <div class="statistic">
                                            <div class="value counter" data-count="3">0</div>
                                            <div class="label">Events</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="ui info-grid pic-grid">
                                        <div class="fotorama" data-width="100%" data-ratio="700/467" data-minwidth="400" data-maxwidth="1000" data-minheight="300" data-maxheight="100%">
                                            <img class="lozad" src="/images/mentorship/mentorship9.jpg">
                                            <img class="lozad" src="/images/mentorship/mentorship8.jpg">
                                            <img class="lozad" src="/images/mentorship/mentorship7.jpg">
                                            <img class="lozad" src="/images/mentorship/mentorship1.jpg">
                                        </div>
                                    </div>
                                    <a class="ui huge button more-view-button" href="/program/training/cohort_1">Cohort 1 - Training &rarr;</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui segment page-segment home-segments news-segment alumni-container">
                    <div class="ui container">
                        <h2 class="highlight">OUR PARTNERS</h2>
                        <div class="ui stackable four column doubling grid">
                            <div class="ui shape partner_card column">
                                <div class="sides">
                                    <div class="side active">
                                        <div class="ui note card">
                                            <div class="content">
                                                <div class="logo">
                                                    <img src="/images/photos/cisco.png" alt="Cisco"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="side">
                                        <div class="ui note card">
                                            <div class="content">
                                                <div class="name">Cisco</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui shape partner_card column">
                                <div class="sides">
                                    <div class="side active">
                                        <div class="ui note card">
                                            <div class="content">
                                                <div class="logo">
                                                    <img src="/images/photos/family.gif" alt="Family Bank"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="side">
                                        <div class="ui note card">
                                            <div class="content">
                                                <div class="name">Family Bank</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui shape partner_card column">
                                <div class="sides">
                                    <div class="side active">
                                        <div class="ui note card">
                                            <div class="content">
                                                <div class="logo">
                                                    <img src="/images/photos/mmu.jpeg" alt="Multimedia University"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="side">
                                        <div class="ui note card">
                                            <div class="content">
                                                <div class="name">Multimedia University</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui shape partner_card column">
                                <div class="sides">
                                    <div class="side active">
                                        <div class="ui note card">
                                            <div class="content">
                                                <div class="logo">
                                                    <img src="/images/photos/jkuat.jpg" alt="JKUAT"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="side">
                                        <div class="ui note card">
                                            <div class="content">
                                                <div class="name">JKUAT</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui shape partner_card column">
                                <div class="sides">
                                    <div class="side active">
                                        <div class="ui note card">
                                            <div class="content">
                                                <div class="logo">
                                                    <img src="/images/photos/liquidtelcom.png" alt="Liquid Telecom"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="side">
                                        <div class="ui note card">
                                            <div class="content">
                                                <div class="name">Liquid Telecom</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui shape partner_card column">
                                <div class="sides">
                                    <div class="side active">
                                        <div class="ui note card">
                                            <div class="content">
                                                <div class="logo">
                                                    <img src="/images/photos/africahackon.png" alt="Africa Hackon"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="side">
                                        <div class="ui note card">
                                            <div class="content">
                                                <div class="name">Africa Hackon</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui shape partner_card column">
                                <div class="sides">
                                    <div class="side active">
                                        <div class="ui note card">
                                            <div class="content">
                                                <div class="logo">
                                                    <img src="/images/photos/microsoft.jpg" alt="Microsoft"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="side">
                                        <div class="ui note card">
                                            <div class="content">
                                                <div class="name">Microsoft</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui shape partner_card column">
                                <div class="sides">
                                    <div class="side active">
                                        <div class="ui note card">
                                            <div class="content">
                                                <div class="logo">
                                                    <img src="/images/photos/techminds.png" alt="Techmind Technologies"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="side">
                                        <div class="ui note card">
                                            <div class="content">
                                                <div class="name">Techmind Technologies</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui shape partner_card column">
                                <div class="sides">
                                    <div class="side active">
                                        <div class="ui note card">
                                            <div class="content">
                                                <div class="logo">
                                                    <img src="/images/photos/kpmg.png" alt="KPMG"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="side">
                                        <div class="ui note card">
                                            <div class="content">
                                                <div class="name">KPMG</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui shape partner_card column">
                                <div class="sides">
                                    <div class="side active">
                                        <div class="ui note card">
                                            <div class="content">
                                                <div class="logo">
                                                    <img src="/images/photos/safaricom.png" alt="Safaricom"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="side">
                                        <div class="ui note card">
                                            <div class="content">
                                                <div class="name">Safaricom</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui shape partner_card column">
                                <div class="sides">
                                    <div class="side active">
                                        <div class="ui note card">
                                            <div class="content">
                                                <div class="logo">
                                                    <img src="/images/photos/shehacks.png" alt="Shehacks"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="side">
                                        <div class="ui note card">
                                            <div class="content">
                                                <div class="name">Shehacks</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui shape partner_card column">
                                <div class="sides">
                                    <div class="side active">
                                        <div class="ui note card">
                                            <div class="content">
                                                <div class="logo">
                                                    <img src="/images/photos/hepta.png" alt="Hepta Analytics"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="side">
                                        <div class="ui note card">
                                            <div class="content">
                                                <div class="name">Hepta Analytics</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui shape partner_card column">
                                <div class="sides">
                                    <div class="side active">
                                        <div class="ui note card">
                                            <div class="content">
                                                <div class="logo">
                                                    <img src="/images/photos/ecc-reseller-logo.png" alt="ecouncil"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="side">
                                        <div class="ui note card">
                                            <div class="content">
                                                <div class="name">ecouncil</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui shape partner_card column">
                                <div class="sides">
                                    <div class="side active">
                                        <div class="ui note card">
                                            <div class="content">
                                                <div class="logo">
                                                    <img src="/images/photos/tribus.jpg" alt="TRIBUS"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="side">
                                        <div class="ui note card">
                                            <div class="content">
                                                <div class="name">TRIBUS</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-alert-content ui-alert-content-bottom-center" style="width: inherit;"></div>
                <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
                <script src="/javascripts/particle.js"></script>
                <script>
                    const observer = lozad();
                    observer.observe();
                </script>
            </div>
        </div>
        <div class="ui inverted vertical footer segment">
            <div class="ui container">
                <div class="ui stackable inverted equal height stackable grid">
                    <div class="three wide column">
                        <a href="/">
                            <img class="brand" src="/images/photos/dark-logo.png" alt="e-kraal logo">
                        </a>
                    </div>
                    <div class="three wide column">
                        <div class="ui inverted link list">
                            <a class="item" href="/">
                                <span>Home</span>
                            </a>
                            <a class="item" href="/program">
                                <span>Programs</span>
                            </a>
                            <a class="item" href="/events">
                                <span>Events</span>
                            </a>
                            <a class="item" href="/news">
                                <span>News</span>
                            </a>
                        </div>
                    </div>
                    <div class="three wide column">
                        <div class="ui inverted link list">
                            <a class="item" href="/partners">
                                <span>Partners</span>
                            </a>
                            <a class="item" href="/about">
                                <span>About</span>
                            </a>
                            <a class="item" href="/contact">
                                <span>Contact</span>
                            </a>
                        </div>
                    </div>
                    <div class="three wide column">
                        <div class="ui inverted link list">
                            <a class="item" href="/privacy">
                                <span>Privacy Policy</span>
                            </a>
                        </div>
                    </div>
                    <div class="three wide column social-container">
                        <div class="span">
                            <a class="social-item" href="https://www.facebook.com/ekraalhub/" target="_blank">
                                <i class="facebook icon"></i>
                            </a>
                        </div>
                        <div class="span">
                            <a class="social-item" href="https://twitter.com/ekraal_" target="_blank">
                                <i class="twitter icon"></i>
                            </a>
                        </div>
                        <div class="span">
                            <a class="social-item" href="https://www.linkedin.com/company/e-kraal-innovation-hub" target="_blank">
                                <i class="linkedin icon"></i>
                            </a>
                        </div>
                        <div class="span">
                            <a class="social-item" href="https://medium.com/@innovate.ekraal" target="_blank">
                                <i class="medium icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="ui grid">
                    <div class="row">
                        <div class="column">
                            <copyright-info>Copyright &copy;2020 e.Kraal</copyright-info>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui-calendar/0.0.8/calendar.min.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flipclock/0.7.8/flipclock.min.js"></script>
        <script src="/javascripts/Semantic-UI-Alert.js"></script>
        <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-137782423-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'UA-137782423-1');
        </script>
        <script src="/dist/App.bundle.js"></script>
    </body>